### Convert two lists into a dictionary

In [1]:
l1 = eval(input('Enter a list:'))
l2 = eval(input('Enter a list:'))
m = dict(zip(l1,l2))
print(m)

Enter a list:['name','age','place']
Enter a list:['anvita',2,'pune']
{'name': 'anvita', 'age': 2, 'place': 'pune'}

### Merge two dict into one dict

In [4]:
d1 = eval(input('Enter a dictionary:'))
d2 = eval(input('Enter a dictionary:'))
d3 = d1 | d2
print(d3)

Enter a dictionary:{'name': 'anvita', 'age': 2, 'place': 'pune'}
Enter a dictionary:{'salary': 90000,'Bplace': 'Ichalkaranji'}
{'name': 'anvita', 'age': 2, 'place': 'pune', 'salary': 90000, 'Bplace': 'Ichalkaranji'}

In [5]:
d1 = eval(input('Enter a dictionary:'))
d2 = eval(input('Enter a dictionary:'))
d3 = dict(**d1,**d2)
print(d3)

Enter a dictionary:{'name': 'anvita', 'age': 2, 'place': 'pune'}
Enter a dictionary:{'salary': 90000,'Bplace': 'Ichalkaranji'}
{'name': 'anvita', 'age': 2, 'place': 'pune', 'salary': 90000, 'Bplace': 'Ichalkaranji'}

In [6]:
d1 = eval(input('Enter a dictionary:'))
d2 = eval(input('Enter a dictionary:'))
d3 = dict(d1,**d2)
print(d3)

Enter a dictionary:{'name': 'anvita', 'age': 2, 'place': 'pune'}
Enter a dictionary:{'salary': 90000,'Bplace': 'Ichalkaranji'}
{'name': 'anvita', 'age': 2, 'place': 'pune', 'salary': 90000, 'Bplace': 'Ichalkaranji'}

In [7]:
d1 = eval(input('Enter a dictionary:'))
d2 = eval(input('Enter a dictionary:'))
d3 = d1.copy()
d3.update(d2)
print(d3)

Enter a dictionary:{'name': 'anvita', 'age': 2, 'place': 'pune'}
Enter a dictionary:{'salary': 90000,'Bplace': 'Ichalkaranji'}
{'name': 'anvita', 'age': 2, 'place': 'pune', 'salary': 90000, 'Bplace': 'Ichalkaranji'}

In [11]:
d1 = eval(input('Enter a dictionary:'))
d2 = eval(input('Enter a dictionary:'))
d3 = d1.copy()
for key, value in d2.items():
    d3[key]=value
print(d3)

Enter a dictionary:{'name': 'anvita', 'age': 2, 'place': 'pune'}
Enter a dictionary:{'salary': 90000,'Bplace': 'Ichalkaranji'}
{'name': 'anvita', 'age': 2, 'place': 'pune', 'salary': 90000, 'Bplace': 'Ichalkaranji'}

In [18]:
d = {'class':{'student':{'name':'Mike','marks':{'phy':70,'his':80}}}}
d['class']['student']['marks']['his']

80

### Initialize dictonary with default values

In [19]:
emp = ['Kelly','Emma']
defaults = {'desg':'Developer','sal':80000}
res = dict.fromkeys(emp,defaults)
print(res)

{'Kelly': {'desg': 'Developer', 'sal': 80000}, 'Emma': {'desg': 'Developer', 'sal': 80000}}

### to create a new dict by extracting the mentioned keys from the below dict

In [24]:
dict = {'name':'Kelly','age':25,'sal':8000,'city':'New york'}
keys = ['name','sal']
newDict = {k:dict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'sal': 8000}

### Delete a list of keys from a dict

In [26]:
dict = {'name':'Kelly','age':25,'sal':8000,'city':'New york'}
keys = ['name','sal']
for k in keys:
    dict.pop(k)
print(dict)

{'age': 25, 'city': 'New york'}

### Check if a value exists in a dict

In [27]:
d = {'a':100,'b':200,'c':300}
if 200 in d.values():
    print('200 is present in a dict')

200 is present in a dict

### Rename key city to location of a dict

In [29]:
d = {'name':'Kelly','age':25,'sal':8000,'city':'New york'}
d['location']=d.pop('city')
print(d)

{'name': 'Kelly', 'age': 25, 'sal': 8000, 'location': 'New york'}

### Change value of a key in a nested dict

In [30]:
d = {'emp1':{'name':'Jhon','sal':7500},'emp2':{'name':'Emma','sal':8000},'emp3':{'name':'Brad','sal':500}}
d ['emp3']['sal'] = 8500
print(d)

{'emp1': {'name': 'Jhon', 'sal': 7500}, 'emp2': {'name': 'Emma', 'sal': 8000}, 'emp3': {'name': 'Brad', 'sal': 8500}}

### To concatenate following dicts to create a new one

In [32]:
d1 = {1:10,2:20}
d2 = {3:30,4:40}
d3 = {5:50,6:60}
d4 = d1 | d2 | d3
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [36]:
d1 = {1:10,2:20}
d2 = {3:30,4:40}
d3 = {5:50,6:60}
d4 = {}
for d in (d1,d2,d3):d4.update(d)
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### Add a key to a dict

In [37]:
d ={1:10,2:20} 
d[3]=30
print(d)

{1: 10, 2: 20, 3: 30}

In [39]:
d = eval(input('Enter a dict'))
d1 = eval(input('Enter a single key and value of dict'))
print(d)
print(d1)
d.update(d1)
print(d)

Enter a dict{1:10,2:20}
Enter a single key and value of dict{5:50,6:60}
{1: 10, 2: 20}
{5: 50, 6: 60}
{1: 10, 2: 20, 5: 50, 6: 60}

### Print a dict where the keys are numbers between 1 and 15 and values are square of keys

In [40]:
print({i:i*i for i in range(1,16)})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [42]:
d = {}
for i in range(1,16):
    d[i] = i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### To iterate over dict using for loops

In [44]:
d = {'Red':1,'Green':2,'Blue':3}
for key,value in d.items():
    print(key,'corresponds to',value)

Red corresponds to 1
Green corresponds to 2
Blue corresponds to 3

### WAP to sum all the items in a dict

In [49]:
d = eval(input('Enter a dict:'))
sum = 0
for i in d.values():
    sum += i
print('The sum of all values in a dict is:',sum)

Enter a dict:{'a':3,'b':5,'c':7}
The sum of all values in a dict is: 15

In [52]:
d = eval(input('Enter a dict:'))
sum = 0
for i in d.keys():
    sum += i
print('The sum of all values in a dict is:',sum)

Enter a dict:{1:'a',3:'b',2:'c'}
The sum of all values in a dict is: 6

### WAP to multiply all the items in a dict

In [50]:
d = eval(input('Enter a dict:'))
mul = 1
for i in d.values():
    mul*=i
print('The multiplication of all values in a dict is:',mul)

Enter a dict:{'a':3,'b':5,'c':7}
The multiplication of all values in a dict is: 105

In [51]:
d = eval(input('Enter a dict:'))
mul = 1
for i in d.keys():
    mul*=i
print('The multiplication of all values in a dict is:',mul)

Enter a dict:{1:'a',3:'b',2:'c'}
The multiplication of all values in a dict is: 6

### To convert given dict to a list of tuples

In [6]:
d  = eval(input('Enter a dict:'))
ls = list(d.items())
print(ls)

Enter a dict:{'Red':1,'Green':3,'White':5,'Black':2}
[('Red', 1), ('Green', 3), ('White', 5), ('Black', 2)]

In [5]:
d  = eval(input('Enter a dict:'))
ls = list(enumerate(d))
print(ls)

Enter a dict:{'Red':1,'Green':3,'White':5,'Black':2}
[(0, 'Red'), (1, 'Green'), (2, 'White'), (3, 'Black')]

In [7]:
d  = eval(input('Enter a dict:'))
ls = list(d)
print(ls)

Enter a dict:{'Red':1,'Green':3,'White':5,'Black':2}
['Red', 'Green', 'White', 'Black']

### To invert a dict with unique hashable values

In [8]:
d = eval(input('Enter a dict:'))
ls = list(enumerate(d))
print(ls)

Enter a dict:{'Red':1,'Green':3,'White':5,'Black':2}
[(0, 'Red'), (1, 'Green'), (2, 'White'), (3, 'Black')]

###  To access dict key's element by index

In [13]:
d = eval(input('Enter a dict:'))
print(d.keys())

Enter a dict:{'Red':1,'Green':3,'White':5,'Black':2}
dict_keys(['Red', 'Green', 'White', 'Black'])

In [20]:
d = eval(input('Enter a dict:'))
for i in d.keys():
    print(i,end=' ')

Enter a dict:{'Red':1,'Green':3,'White':5,'Black':2}
Red Green White Black

### A python dict contains List as value, to clear the list values

In [1]:
d = eval(input('Enter a dict:'))
for i in d:
    d[i].clear()
print(d)

Enter a dict:{'Red':[1,2,3],'Green':[1,2,3]}
{'Red': [], 'Green': []}

###  To drop empty items from a given dict

In [5]:
d = eval(input('Enter a dict:'))
print(d)
d = {key:value for (key,value) in d.items() if value is not None}
print(d)

Enter a dict:{'Red':1,'Green':None,'White':5,'Black':None}
{'Red': 1, 'Green': None, 'White': 5, 'Black': None}
{'Red': 1, 'White': 5}